

@media (max-width: 1200px) {
  body {
    width: 1185px;
  }
  body nav {
    padding-left: 30px;
  }
  body .info {
    padding-left: 30px;
  }
  body .widget {
    padding-left: 10px;
  }
  main {
    padding-left: 10px;
  }
  footer {
    width: 1185px;
  }
}

@media (max-width:720px) {
  body{
    width: 705px;
  
  .widget {
    padding-left: 25px;
  }
  main{
    gap: 20px;
  
  .main{
    flex-direction: column;
  .main p {
    padding-left: 20px;
  }
    .left {
      p{
        font-size: 14px;
        top: 20%;
        left: 14%;

      }
      img {
        width: 360px;
      }
    }
    .right{
      img{
        padding-bottom: 20px;
      }
    }
}
  }
  }
  footer{
    width: 100%;
    padding-left: 20px;
    gap: 55px;

    img {
      width: 40px;
    }
  }
}

@media(max-width:480px){
  body {
    width: 465px;
  }
  main{
    width: 465px;
  }
  footer {
    padding-left: 7px;
    gap: 15px;
    width: 100%;
    
  }
}